body {
        font-family: sans-serif;
        padding: 100px 0; 
        color: black;
        background-color: lightcoral;
}

.main-block {
        line-height: 1.5;
        position: relative;
        box-sizing: border-box;
        width: 50%;
        max-width 550px;
        margin: auto;
        padding: 80px 75px 70px;
        text-align: center;
        border-radius: 75px;
        background-color: white;
        border-bottom-style: solid;
        border-top-style: solid;
}

.avatar-picture {
        position: absolute;
        height: 150px;
        width: 150px;
        top: 0px;
        left: 0px;
        border-top-left-radius: 75px;
        border-bottom-right-radius: 75px;
        background: url('../images/picture.JPG');
        background-size: cover;    
}

.avatar-picture:hover  {
        width: 220px;
        transition: width 1.5s
}
.name-header {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
        margin: -25px 0 30px;
}

.sub-header {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
        margin: -25px 0 25px ;
        
}

.full-info {
        font-size: 16px;
        margin:0 ;
}

.info-header {
        font-size: 18px; 
        font-weight: 600;
        line-height: 1.5;
        margin: 15px 0 5px;
        text-align: center;
}

.list-info { 
        font-size: 16px;
        margin-left: 0;
        margin-left: -40px;
}


.socials {
        margin-top: 10px;
        margin-bottom: -150px;
        margin-left: 650px;
        text-align: center;
}

.socials li {
        display: inline-block;
        width: 35px;    
}

.social-image img:hover  {
        width: 35px;
        transition: transform 0.4s;
        transform: scale(1.4);
}

.social-image img {
        width:100%;
}

li { 
        list-style: none;
        font-size: 16px;
}
