body {
        font-family: monospace;
        padding: 120px 0; 
        color: #000000;
        background-color: indianred;
}

.main-block {
        line-height: 1.5;
        position: relative;
        box-sizing: border-box;
        width: 50%;
        max-width 550px;
        margin: 0 auto;
        padding: 80px 75px;
        text-align: center;
        border-radius: 75px;
        background-color: white;
        border-bottom-style: solid;
        border-top-style: solid;
}

.avatar-picture {
        position: absolute;
        height: 150px;
        width: 150px;
        top: 0px;
        left: 0px;
        border-top-left-radius: 75px;
        border-bottom-right-radius: 75px;
        background: url('../images/picture.JPG');
        background-size: cover;    
}

.name-header {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
        margin: -25px 0 30px;
        color: red;
}

.sub-header {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        margin: -25px 0 25px ;
        color: blue;
}

.full-info {
        font-size: 16px;
        margin:0 ;
}

.list-info { 
        font-size: 16px;
        margin-left: 0;
        
}

.info-header {
        font-size: 16px; 
        font-weight: 900;
        line-height: 1.5;
        margin: 15px 0 5px;
}

.socials {
        margin-top: 45px;
        margin-bottom: -150px;
        margin-left: -40px;
}

.socials li {
        display: inline-block;
}

.social-image {
        display: block;
        width: 50px;
        margin-right: 15px;
        -webkit-transition: -webkit-transform .2s ease-in;
                transition: -webkit-transform .2s ease-in;
                transition:         transform .2s ease-in;
                transition:         transform .2s ease-in;
}

.social-image:hover {
        -webkit-transform: scale (1.1);
                transform: scale (1.1);
}

.social-image img {
        width:100%;
}

li { 
        font-size: 16px;
        text-style: none;
}
